html, body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #222;
    overflow: hidden;
}

html, body, .form--input, .form--button {
    font-size: 24px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.15;
    margin: 0 0 0.5em 0;
}

/* Global app styles  */
.app, .form--input, .form--button {
    /* font-family: 'Archivo Black', sans-serif; */
    font-family: 'Nixie One', cursive; 
    /* font-family: 'Rosario', sans-serif; */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.app, .app a, .app a:link, .app a:hover, .app a:visited {
    color: #fff;
}

/* Page styles  */
.page {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

.page--background,
.page--background--overlay {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    transition: opacity 0.3s ease-in;
}

.page--background {
    background-size: 100%;
    background-size: cover;
}

.page--content {
    position: relative;
    z-index: 10;
    overflow: auto;
    height: 100vh;
}

.page--content-scroll {
    margin: 60px 35px;
}

/* Unsplash credit bar  */
.unsplash-credit.unsplash-credit-bar {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 15;

    padding: 10px 20px;

    font-size: 0.6em;
    text-align: center;

    background-color: rgba(0, 0, 0, 0.2);
}

/* Display card  */
.countdown--card {
    display: block;
    margin: 1.75em 0;
}

/* Form Components  */
.form--label {
    /* font-size:  */
    display: block;
    margin: 20px 0 10px 0;
}

.form--input, .form--button {
    box-sizing: border-box;
    padding: 10px 16px;
    border-radius: 3px;
}

.form--input {
    border: 1px solid #888;
}

.form--button {
    border: 1px solid #2E7D32;
    background-color: #43A047;
    color: #fff;
    cursor: pointer;
}

/* DateTime picker override  */
.rdtPicker {
    font-size: 16px;
    color: #222;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.45);
    margin-bottom: 2em;
}

@media all and (min-width: 320px) {
    .page--content-scroll {
        max-width: 400px;
        margin: 120px auto;
    }
}